@font-face
{
    font-family: 'Raleway';
    src: url("raleway/Raleway-Medium.ttf") format('truetype');
}

body
{
    font-family: Raleway, Tahoma, Arial, sans-serif;
}

.navList li
{
    float:right;
    list-style: none;
    /*margin-right: 10px;*/
    padding: 10px;
    /*padding-right:10px;*/
    padding-top:30px;
    color:white;
    font-weight:bold;
    margin:0 30px;


}
.navList li:last-child
{
    float: left;
    font-weight:normal;
    padding-left: 0;
    font-size: 18px;
}
.navList li:first-child
{
    padding-right: 35px;
}

.bgHeader
{
    background-color: black;
    height: 80px;
}
.navSpan
{
    color: rgb(39,199,171);
}

ul
{
    overflow: hidden;
}
.container
{

    max-width:1800px ;
    text-align:center;
    border: 1px solid red;
    margin: 0 auto;
}

.imgOneSection
{
background-image:url("black_chair.png");
    width: 830px;
    height: 595px;
    background-position:left;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    display: inline-block;
    border: 1px solid green;
    box-sizing: border-box;


}
.bgSectionOne {
    overflow: hidden;
    margin-top: 90px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+27,ededed+75 */
    background: rgb(255, 255, 255); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(255, 255, 255) 27%, rgb(237, 237, 237) 75%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 27%, rgb(237, 237, 237) 75%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(255, 255, 255) 27%, rgb(237, 237, 237) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0); /* IE6-9 */
}
.textSectionOne
{
    display: inline-block;
    font-size:20px;
    float: right;
    text-align: center;
    line-height: 1.5;
    height: 595px;
    width: 770px;
    border: 1px solid blueviolet;

}

.textSectionOne p
{
    margin: 70px 90px;
}

.textSectionOne h1
{
    font-size: 43px;
    text-transform: uppercase;

}
.textSectionOne span
{
    color:rgb(39,199,171);
    text-transform: uppercase;
    font-size: 45px;
}

.buttonFirst
{
    background-color:rgb(39,199,171);
    font-size:25px;
    color: white;
    border-radius:20px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    height:50px;
    width: 240px;
    padding-top: 20px;


}

.GreaterSign
{
    /*position: relative;*/
    display: inline-block;
    float: left;
    height: 595px;
    width: 100px;
    /*text-align: center;*/
    font-weight: 800;
    color:rgb(39,199,171);
    font-size:120px;
    text-decoration: none;
    border: 1px solid blue;
    box-sizing: border-box;
    padding-top: 230px;

}

.greaterSignRight
{
    float: right;
}

.greaterSignLeft
{
    float: left;
}